.background {
    -fx-background-color: black;
}

.paddle {
    -fx-fill: aliceblue;
}

.ball {
    -fx-fill: white;
    -fx-border-color: deepskyblue;
}

.p1-score {
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-font-size: 25px;

}

.p2-score {
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-font-size: 25px;
}

.timer-text {
    -fx-text-fill: dodgerblue;
    -fx-font-size: 75px;
}

.winner-text {
    -fx-text-fill: dodgerblue;
    -fx-font-size: 50px;
}

.form-label {
    -fx-padding: 10px;
}

.error {
    -fx-text-fill: darkred;
    -fx-fill: darkred;
}
